<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  
   

    <title>
        YB Blog
    </title>
</head>
<body>

    {% include "includes/navbar.html" %}
    <br><br><br>
    <div class = "container">
        {% include "includes/messages.html" %}
             {% block body %}

    


             {% endblock %}
    
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
    
    <script>
        CKEDITOR.replace( 'content' );
    </script>
   


   
</body>
</html>